<html>
    <head>
        <title>Video Streaming App</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    </head>
    <body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{url_for('index')}}">Video Streaming App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        {% if not current_user %}
        <li class="nav-item">
        <a class="nav-link" href="{{url_for('registerform')}}">Register</a>
        {% endif %}
        </li>
        {%if current_user %}
        <li class="nav-item"> Welcome! {{current_user.username}}</li>
        {% endif %}
        </li> 
        {%if current_user %}
        <li class="nav-item">
        <a class="nav-link" href="{{url_for('Videos.Video2')}}"> View All Videos</a>
        {% endif %}
        </li>
        {%if current_user %}
        <form class="navbar-form navbar-left" action="{{url_for('Users.UserLogout')}}" method="post">
            <div class="form-group">
            </div>
            <button type="submit" class="btn btn-default">Logout</button>
        </form>
        <form class="navbar-form navbar-left" action="{{url_for('Users.TokenRefresh')}}" method="post">
          <div class="form-group">
          </div>
          <button type="submit" class="btn btn-default">Refresh</button>
      </form>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('Videos.VideoByUser')}}">My Videos</a>
        </li>
        
        {% endif %}
      </div>
    </div>
  </nav>
  {% block content %}


    {% endblock content %}
  </body>
  </html>